{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container" id="container">
        <div class="row">
            {% for index, product in products %}
                <div class="col-md-4 col-sm-6">

                {% include '@App/partials/items.html.twig' with {item: product} %}

                {% if (index + 1) % 3 == 0 %}
                    </div>
                    <div class="row">
                {% endif%}

                </div>
            {% endfor %}
        </div>
        <div class="row" id="pagination">
            {% if maxPages > 1 %}
                <ul class="pagination pagination-sm">
                    {# `«` arrow  #}
                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('all_products', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                            <a href="{{ path('all_products', {page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('all_products', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

