{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
        <form action="{{ path('create_order') }}" method="post">
            {{ form_widget(customerForm._token) }}
            {{ form_widget(addressesForm._token) }}
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-6">
                            <h3>Your details</h3>
                            <hr>
                            <div class="form-group {% if not customerForm.email.vars.valid %}has-error{% endif %}">
                                {{ form_label(customerForm.email) }}
                                {{ form_widget(customerForm.email, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(customerForm.email) }}
                            </div>
                            <div class="form-group {% if not customerForm.name.vars.valid %}has-error{% endif %}">
                                {{ form_label(customerForm.name) }}
                                {{ form_widget(customerForm.name, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(customerForm.name) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Shipping details</h3>
                            <hr>
                            <div class="form-group {% if not addressesForm.address1.vars.valid %}has-error{% endif %}">
                                {{ form_label(addressesForm.address1) }}
                                {{ form_widget(addressesForm.address1, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(addressesForm.address1) }}
                            </div>
                            <div class="form-group {% if not addressesForm.address2.vars.valid %}has-error{% endif %}">
                                {{ form_label(addressesForm.address2) }}
                                {{ form_widget(addressesForm.address2, { 'attr': {'class': 'form-control', 'placeholder': 'Optional'} }) }}
                                {{ form_errors(addressesForm.address2) }}
                            </div>
                            <div class="form-group {% if not addressesForm.city.vars.valid %}has-error{% endif %}">
                                {{ form_label(addressesForm.city) }}
                                {{ form_widget(addressesForm.city, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(addressesForm.city) }}
                            </div>
                            <div class="form-group {% if not addressesForm.postalCode.vars.valid %}has-error{% endif %}">
                                {{ form_label(addressesForm.postalCode) }}
                                {{ form_widget(addressesForm.postalCode, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(addressesForm.postalCode) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="well">
                            <h4>Your order</h4>
                            <hr>

                            {% include '@App/partials/content.html.twig' %}
                            {% include '@App/partials/summary.html.twig' %}

                            <button class="btn btn-default" type="submit">Place order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}