<div class="thumbnail">
    <a href="{{ path("get_product", {'slug' : product.slug})}}"><img src="{{ asset('images/' ~ product.image) }}" alt="{{ product.title }} image"></a>
    <div class="caption">
        <h4><a href="{{ path("get_product", {'slug' : product.slug})}}"> {{ product.title }} </a></h4>
        <p>{{ product.description }}</p>
    </div>
</div>