<div class="thumbnail">
    <a href="{{ path("get_product", {'slug' : product.slug})}}"><img src="{{ asset('images/' ~ product.image) }}" alt="{{ product.title }} image"></a>
    <div class="caption">
        <h4><a href="{{ path("get_product", {'slug' : product.slug})}}"> {{ product.title }} </a></h4>
        <p>Category: {{ product.category.name }}</p>

        {% if product.promotionPrice > 0.00 %}
            <p>Price: <strong><span style="text-decoration: line-through">$ {{ product.price }}</span> $ {{ product.promotionPrice }}</strong></p>
        {% else %}
            <p>Price: <strong>$ {{ product.price }}</strong></p>
        {% endif %}


        <p>Description: {{ product.description }}</p>
        {% if product.user is null %}
            <p>Owner: Shop</p>
        {% else %}
            <p>Owner: {{ product.user.username }}</p>
        {% endif %}
    </div>
</div>