{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if basket.itemCount %}
                    <div class="well well-sm">
                        <!-- Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in basket.all %}
                                    <tr>
                                        <td><a href="{{ path("get_product", {'slug' : item.slug})}}" title="{{ item.title }}">{{ item.title }}</a></td>
                                        <td> $ {{ item.price | number_format(2) }} </td>
                                        <td>
                                            <form action="{{ path('cart_update', { 'slug' : item.slug })}}" method="post" class="form-inline">
                                                <select name="quantity" class="form-control input-sm">
                                                    <option value="0">None</option>
                                                    {% for num in 1..item.stock %}
                                                        <option value="{{ num }}"{% if num == item.quantity %}
                                                            selected = "selected"{% endif %}>{{ num }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <input type="submit" value="update" class="btn btn-default btn-sm"/>
                                            </form>

                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}

                    <p>You have no items in your cart. <a href="{{ path('all_products') }}">Start shopping now</a></p>

                {% endif %}
            </div>
            <div class="col-md-4">
                {% if basket.itemCount and basket.subTotal %}
                    <div class="well well-sm">
                        <h4>Cart summary</h4>
                        <hr>

                        {%  include '@App/partials/summary.html.twig' %}
                        <a href="#" class="btn btn-default">Checkout</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}